<div class="form-inline">
  <div class="form-inline mr-2">
    <label class="mr-1">Min Age</label>
    <select class="form-control" name="minAge" id="minAge" [(ngModel)]="minAge" (change)="changeFilter()">
      <option *ngFor="let age of ages">{{ age }}</option>
    </select>
  </div>

  <div class="form-inline mr-2">
    <label class="mr-1">Max Age</label>
    <select class="form-control" name="maxAge" id="maxAge" [(ngModel)]="maxAge" (change)="changeFilter()">
      <option *ngFor="let age of ages">{{ age }}</option>
    </select>
  </div>
</div>
