<div class="container">
  <h2 class="text-center text-primary">Sign Up</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" autocomplete="off">
        <label class="control-label mr-2">I am </label>
        <div class="form-check form-check-inline">
          <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="gender_male" value="male">
          <label class="form-check-label" for="gender_male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="gender-female" value="female">
          <label class="form-check-label" for="gender-female">Female</label>
        </div>
        <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['knownAs']" [label]="'Known As'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['dateOfBirth']" [label]="'Date of Birth'" [type]="'date'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['city']" [label]="'City'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['country']" [label]="'Country'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'">
        </app-text-input>
        <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'"
          [type]="'password'">
        </app-text-input>

        <div class="row mt-1" *ngIf="validationErrors">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{ error }}</li>
          </ul>
        </div>

        <div class="row justify-content-center">
          <button class="btn btn-success mr-2" type="submit" [disabled]="!registerForm.valid">Register</button>
          <button class="btn btn-danger mr-2" (click)="onCancel()" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-8">
      <div class="alert alert-info ">
        <p text-primary>Form value: {{ registerForm.value | json}}</p>
        <hr>
        <p>Form status: {{ registerForm.status | json}}</p>
      </div>
    </div>
  </div>
</div>
