<h2>Members</h2>
<div class="row">
  <div class="col-6">
    <app-member-paginator [totalItems]="totalItems$ | async" [currentPage]="currentPage$ | async"
      [itemsPerPage]="itemsPerPage$ | async"></app-member-paginator>
  </div>

  <div class="col-6">
    <app-member-filter [minAge]="minAge$ | async" [maxAge]="maxAge$ | async"></app-member-filter>
  </div>
</div>
<div class="row" *ngIf="(members$ | async)?.length > 0;else noResult">
  <div class="col-2" *ngFor="let member of members$ |async">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<ng-template #noResult class="row justify-content-center">
  <p class="text-center text-danger">No Result</p>
</ng-template>

