a.dropdown-item {
  cursor: pointer;
}

a.nav-link.dropdown-toggle {
  cursor: pointer;
}

.photo-thumbnail {
  max-width: 25px;
  max-height: 25px;
  border-radius: 25px;
  border: 1px solid white;
  display: inline;
}
